.alert-item{
  border: 1px solid #000;
  margin: 10px;
  animation: breathing-shadow 0.5s infinite;
}

@keyframes breathing-shadow {
  0% { box-shadow: 0 0 5px #ff0000; }
  50% { box-shadow: 0 0 30px #ff0000; }
  100% { box-shadow: 0 0 10px #ff0000; }
}