.surveillance-grid {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.camera-item {
  background-color: #e2e8f0;
  height: 192px;
  border-radius: 8px;
  cursor: pointer;
}

.camera-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}